:root {
  font-size: 62.5%;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  background: #121214;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  outline: 1px solid #eeeeee;
  margin: 1.2rem;
  width: 80%;
}

button {
  padding: 1rem 2.8rem;
  cursor: pointer;
}

.inputs {
  height: 14rem;
  width: 20rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
}

.inputs button {
  font-size: 2.4rem;
  width: auto;
  height: auto;
  padding: 0;
}

#moveUp {
  grid-column: 2/3;
}
#moveDown {
  grid-column: 2/3;
  grid-row: 2/3;
}
#moveLeft {
  grid-row: 2/3;
  grid-column: 1/2;

}
#moveRight {
  grid-row: 2/3;
  grid-row: 2/3;
}